<!-- /.content-wrapper -->
  <footer class="main-footer">

    <strong>Copyright &copy; 2017-2018 <a href="http://www.qiniuniu.com/" target="_blank">QnnPHP</a>.</strong> 保留所有权利。
  </footer>
 <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<div id="loading" style="top: 150px;">
    <div class="lbk"></div>
    <div class="lcont"><img src="__PUBLIC__/img/loading.gif" alt="loading...">正在加载...</div>
</div>

<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.cookie.js"></script>

<!-- Slimscroll -->
<script src="__LIBS__/slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script type="text/javascript" src="__LIBS__/fastclick/fastclick.min.js"></script>
<script type="text/javascript" src="__ADMIN_JS__/app.min.js" ></script>
<script type="text/javascript" src="__ADMIN_JS__/layout.js" ></script>
<!-- <script type="text/javascript" src="__PUBLIC__/js/think.js"></script> -->
<script type="text/javascript" src="__LIBS__/layer/layer.js"></script>
<script type="text/javascript" src="__LIBS__/artTemplate/template.js"></script>

<script type="text/javascript" src="__LIBS__/toastr/toastr.min.js"></script>

<script type="text/javascript" src="__ADMIN_JS__/common.js?v={:EACOOPHP_V}" ></script>
<script type="text/javascript" src="__ADMIN_JS__/eacoo.js?v={:EACOOPHP_V}" ></script>

  </body>
</html>
